<div class="tech-container">
  <div class="mobile-nav-container">
    <app-mobile-nav></app-mobile-nav>
  </div>
  <div class="nav-container">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="space-option"><span>03 </span>SPACE LAUNCH 101</div>
  <div class="tech-info" *ngFor="let tech of capsuleTech">
    <div class="tech-landscape-imgContainer">
      <img
        class="tech-landscape-img"
        [src]="tech.images['landscape']"
        alt="Technology Image"
      />
    </div>
    <div class="tech-nav">
      <app-tech-selector></app-tech-selector>
    </div>
    <div class="tech-contents">
      <div class="tech-subHeader">THE TERMINOLOGY..</div>
      <div class="tech-name">{{ tech.name }}</div>
      <div class="tech-desc">{{ tech.description }}</div>
    </div>
    <div class="tech-img-container">
      <img
        class="tech-img"
        [src]="tech.images['portrait']"
        alt="Technology Image"
      />
    </div>
  </div>
</div>
