<div class="dest-sel-container">
  <ul class="dest-sel-list">
    <li
      routerLinkActive="active"
      routerLink="/dest/moon"
      class="dest-sel-listItem"
    >
      MOON
    </li>
    <li
      routerLinkActive="active"
      routerLink="/dest/mars"
      class="dest-sel-listItem"
    >
      MARS
    </li>
    <li
      routerLinkActive="active"
      routerLink="/dest/europa"
      class="dest-sel-listItem"
    >
      EUROPA
    </li>
    <li
      routerLinkActive="active"
      routerLink="/dest/titan"
      class="dest-sel-listItem"
    >
      TITAN
    </li>
  </ul>
</div>
