.tech-sel-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tech-sel-item {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid lightgrey;
    color: lightgrey;
}

.tech-sel-item:hover {
    filter: brightness(150%);
}

.tech-sel-item.active {
    z-index: -1;
    filter: brightness(100%);
    background-color: white;
    border: 1px solid black;
    color: black;
}

@media (width: 768px) {
    .tech-sel-container {
        flex-direction: row;
        height: 80px;
    }
}
@media (width: 425px) {
    .tech-sel-container {
        flex-direction: row;
        height: 65px;
    }
    .tech-sel-item {
        height: 60px;
        width: 60px;
    }
}