<div class="crew-sel-container">
  <input
    routerLinkActive="active"
    routerLink="/crew/douglas"
    type="radio"
    class="crew-sel-item"
  />
  <input
    routerLinkActive="active"
    routerLink="/crew/mark"
    type="radio"
    class="crew-sel-item"
  />
  <input
    routerLinkActive="active"
    routerLink="/crew/victor"
    type="radio"
    class="crew-sel-item"
  />
  <input
    routerLinkActive="active"
    routerLink="/crew/anousheh"
    type="radio"
    class="crew-sel-item"
  />
</div>
